/*=============================================
=            fontSection            =
=============================================*/

@font-face {
    font-family: coco;
    src: url("../assets/fonts/cocon.otf");
}

* {
    font-family: coco;
}

.label {
    color: #f3f3f3;
}

/*=====  End of fontSection  ======*/

#bodyy {
    width: 700px;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*=============================================
  =            tabls            =
  =============================================*/

div .section-title {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#tabs h6.section-title {
    color: rgb(255, 255, 255);
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent transparent #ffffff;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: white;
    font-size: 20px;
}

/*=====  End of tabls  ======*/

/*=============================================
=            radio buttons            =
=============================================*/

.custom-radios div {
    display: inline-block;
  }
  .custom-radios input[type="radio"] {
    display: none;
  }
  .custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }
  .custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all .3s ease;
  }
  .custom-radios input[type="radio"]#color-1 + label span {
    background-color: #2ecc71;
  }
  .custom-radios input[type="radio"]#color-2 + label span {
    background-color: #3498db;
  }
  .custom-radios input[type="radio"]#color-3 + label span {
    background-color: #f1c40f;
  }
  .custom-radios input[type="radio"]#color-4 + label span {
    background-color: #e74c3c;
  }
  .custom-radios input[type="radio"]:checked + label span {
    opacity: 1;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
  
  }
/*=====  End of radio buttons  ======*/